<li id="post-<%=post._id%>" style="border: 1px solid black; margin:10px">
    <%if(post.user.id==locals.user.id){%>
        <a class="delete-post-button" href="/post/destroy/<%=post.id%>" method="POST">
            X
        </a>
        <% } %>
            <%=post.content%>
                <span style="color:green">
                    <%=post.user.name%>
                </span>
                <!-- ADD to XHR also -->
                <span>
                    <!-- if req.locals.user in post.likes -->
                    <% if(post.likes.includes(locals.user)){ %>
                        <button class="like-Post" id="like-<%=post.id%>" style="color:red">
                            Like
                        </button>
                        <% }else{ %>
                            <button class="like-Post" id="like-<%=post.id%>" style="color:black">
                                Like
                            </button>
                            <%}%>
                </span>
                <div id="comments-container">
                    <ul style="color:red">
                        <%for(comment of post.comments){%>
                            <%- include('_comment') -%>
                                <% } %>

                    </ul>
                </div>
                <form action="/comment/create" method="POST" id="<%=post._id%>" class="create-new-comment">
                    <input type="text" name="content" placeholder="Write a comment..." form="<%=post._id%>">
                    <input type="hidden" name="postID" value="<%=post._id%>" form="<%=post._id%>">
                    <input type="hidden" value="<%= locals.user._id %>" name="user">
                    <input type="submit" form="<%=post._id%>" hidden />
                </form>
</li>