<li style="border: 1px solid black; margin:10px">
    <%if(post.user.id==locals.user._id){%>
        <a href="/post/destroy/<%=post.id%>" method="POST">
            X
        </a>
        <% } %>
            <%=post.content%>
                <span style="color:green">
                    <%=post.user.name%>
                </span>
                <div id="comments-container">
                    <ul style="color:red">
                        <%for(comment of post.comments){%>
                            <%- include('_comment') -%>
                                <% } %>

                    </ul>
                </div>
                <form action="/comment/create-comment" method="POST" id="<%=post._id%>">
                    <input type="text" name="content" placeholder="Write a comment..." form="<%=post._id%>">
                    <input type="hidden" name="postID" value="<%=post._id%>" form="<%=post._id%>">
                    <input type="submit" form="<%=post._id%>" hidden />
                </form>
</li>